<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
    <title>Dejavis — Visual Analytics For The Web </title> 

    <!-- Libs -->
    <script type="text/javascript" src="./lib/underscore.js"></script>
    <script type="text/javascript" src="./lib/jquery.js"></script>
    <script type="text/javascript" src="./lib/backbone.js"></script>
    <script type="text/javascript" src="./lib/data.js"></script>
    <script type="text/javascript" src="./lib/d3.js"></script>

    <!-- Data -->
    <script type="text/javascript" src="./fixtures/items.js"></script>
    
    <!-- Visualization -->
    <script type="text/javascript" src="./barchart.js"></script>
    
    <!-- App -->
    <script type="text/javascript" src="./app.js"></script>
    
    <script type="text/x-ejs-template" name="visualization">
      <div id="settings">
        <div id="group">
          <h3>Group by</h3>

          <select id="group_key">
            <% group_keys.each(function(p) { %>
              <option value="<%= p.key %>"<% if (group_key[0] === p.key) {%> selected="selected"<% } %>>
                <%= p.name %> (<%= p.all('values').length %>)
              </option>
            <% }); %>
          </select>
        </div>
        
        <div id="properties">
          <h3>Properties</h3>
          <div id="selected_properties">
            <% selected_properties.each(function(p, key, i) { %>
              <a href="#"><div class="property remove" index="<%= i %>" property="<%= p.key %>">
                <div class="color"></div>
                <span><%= p.name %></span>
              </div></a>
            <% }); %>
          </div>
        
          <% selectable_properties.each(function(p) { %>
            <a href="#"><div class="property add" property="<%= p.key %>">
              <div class="color"></div>
              <span><%= p.name %></span>
            </div></a>
          <% }); %>
        </div>
      </div>
      
      <div id="canvas">
        
      </div>
    </script>

    <script type="text/x-ejs-template" name="browser">
      <div id="facets">
        <h2>Filter</h2>
        <div class="list">

          <% facets.each(function(facet) { %>
            <div class="facet" operator="|=" property="<%= facet.property.key %>">
              <h3><%= facet.property.name %></h3>
              <ul class="facet-choices">
                <% facet.selected_choices.each(function(choice) { %>
                  <li class="facet-choice selected">
                    <a href="#" class="remove-choice" property="<%= facet.property.key %>" operator="|=" value="<%= choice._id %>">
                      <div class="tick-icon"></div>
                      <%= choice.name %>
                      <span class="item-count"><%= choice.count %></span>
                    </a>
                  </li>
                <% }); %>
              </ul>
              <ul class="facet-choices-available">
                <% facet.choices.each(function(choice) { %>
                  <li class="facet-choice">
                    <a href="#" class="add-choice" property="<%= facet.property.key %>" operator="|=" value="<%= choice._id %>">
                      <div class="tick-icon ticked"></div>
                      <%= choice.name %>
                      <span class="item-count"><%= choice.count %></span>
                    </a>
                  </li>
                <% }); %>
              </ul>
            </div>
          <% }); %>
        </div>
      </div>
      
      <div id="trail">
        <h1><%= filtered_collection.items().length %> Items out of <%= collection.items().length %> total</h1>
      </div>
    </script>

    <style type="text/css">
      @import url("./style.css");
    </style>
  </head>
  <body>
    <div id="container">
      <div id="sheet">
        <div id="browser">
          
        </div>
        <div id="visualization">
          
        </div>
      </div>
    </div>
  </body> 
</html>