<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="content-type" content="text/html;charset=utf-8"> 
    <title>Déjàvis — Visual Analytics For The Web </title> 
    
    <script>
      var seed = {{{{seed}}}};
      var session = {{{{session}}}};
    </script>
    
    <script type="text/x-ejs-template" name="header">
      <div class="title">
        <a href="#">Déjàvis</a>
      </div>
      <div id="sync_state"></div>
      <div id="login_state">
        <div id="login">
          <% if (user) { %>
            <div>
              <a href="#<%= user.get('username') %>"><b><%= user.get('name') || user.get('username') %></b></a>
              <a href="#" class="toggle-user-settings">Account Settings</a>
              <a href="#logout" class="logout">Logout</a>
            </div>
          <% } else { %>
            <form id="login-form" class="auth-form">
              <input type="text" name="username" class="hint" id="login-user" value="username">
              <input type="password" name="password" class="hint" id="login-password" value="password">
              <input type="submit" value="Login"/>
            </form>
            <div class="signup">
              New to Déjàvis? <a href="#signup" class="toggle-signup">Create an Account</a>
            </div>
          <% } %>
        </div>
      </div>
    </script>
    
    <script type="text/x-ejs-template" name="browser_tab">
      <div class="cursor"><span></span></div>
      <div class="icon browse"></div>
      <div class="tab-label">Browser</div>
      <form id="search_form"><input type="text" id="search" name="search" value="<%= query_descr %>" autocomplete="off"/></form>
      <div class="count"><%= projects.length > 0 ? projects.length : ''%></div>
      <br class="clear"/>
      <div class="results"></div>
    </script>
    
    <script type="text/x-ejs-template" name="project_tab">
      <div class="cursor"><span></span></div>
      <div class="icon read"></div>
      <div class="tab-label">Project</div>
      <div class="user-name">
        <%= username %> / <b><%= project_name %></b>
      </div>
      <!--<input type="text" id="project_name" name="project_name" value="foo"/>-->
    </script>
    
    <script type="text/x-ejs-template" name="browser">
      <div id="browser_actions" class="view-actions">
      </div>
      
      <% if (user) { %>
        <div id="user_profile">
          <div class="container">
            <div class="avatar">
              <img<% if (user.get('username') === app.username) { %> title="Change your avatar at Gravatar.com"<% } %> class="left" src="<%= _.gravatar(user.get('email'), 100) %>"/>
            </div>
            <div class="username">
              <h1><%= user.get('name') %></h1>
              <p><em>as</em> <b><%= user.get('username') %></b> <em>since</em> <%= _.date(user.get('created_at')) %></p>
            </div>
            <div class="attributes">
              <% if (user.get('location')) { %>
                <span><em>Located in</em> <%= user.get('location') %></span>
              <% } %>

              <% if (user.get('company')) { %>
                <span><em>Works at</em> <%= user.get('company') %></span>
              <% } %>

              <% if (user.get('website')) { %>
                <span><em>Website at</em> <a target="_blank" href="<%= user.get('website') %>"><%= user.get('website') %></a></span>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
      
      <div id="browser_inner_wrapper">
        <% if (projects.length > 0) { %>
          <div id="browser">
            <div id="documents">
              <h2><%= projects.length %> Project<%= projects.length > 1 ? 's' : '' %></h2>
              <table>
                <thead>
                  <tr><th>Title</th><th>Author</th><th>Published</th><th class="right-align">Last modified</th></tr>
                </thead>
                <tbody>
                <% projects.each(function(project) { %> 
                  <tr class="<%= project.get('published_on') ? 'published' : 'draft' %>">
                    <th><a class="link load-project" href="#<%= project.get('creator')._id.split('/')[2] %>/<%= project.get('name') %>" project="<%= project._id %>" user="<%= project.get('creator')._id.split('/')[2] %>" name="<%= project.get('name') %>"><%= project.get('title') || 'Untitled' %><span class="document-type">Visualization Project</span></a></th>
                    <td><%= project.get('creator').get('name') || project.get('creator').get('username') || project.get('creator')._id.split('/')[2]%></td>
                    <td>
                      <% if (project.get('published_on')) { %>
                        <%= _.date(project.get('published_on')) %>
                      <% } else { %>
                        - - -
                      <% } %>
                    </td>
                    <td class="right-align"><%= _.prettyDate(project.get('updated_at')) %></td>
                  </tr>
                <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        <% } else { %>
          <div id="documents">
            <h2>No Projects ...</h2>
          </div>
        <% } %>
      </div>
      
    </script>
    
    <script type="text/x-ejs-template" name="startpage">
      <div id="startpage">
        <div class="intro"><b>Déjàvis</b> is a tool for analyzing and visualizing data.</div>
        
        <div id="features">
          <div class="feature">
            <a href="#michael"><img src="/images/explore.png"/></a>
            <h2><a href="#michael">Explore</a></h2>
            <p>
              <b>Get to know your data.</b> Déjàvis provides means that allow you to explore huge datasets and reveal <i>hidden connections</i> or <i>similarities</i>.
              Filtering is based on the effectiveness of the <a href="http://en.wikipedia.org/wiki/Faceted_search">Faceted Browsing</a> UI paradigm and enables you
              to visualize and browse arbitrary datasets. You can adjust filters at any time, or step back to viewing the whole dataset.
            </p>
          </div>
          <div class="feature">
            <a href="#michael/countries"><img src="/images/visualize.png"/></a>
            <h2><a href="#michael/countries">Visualize</a></h2>
            <p>
              <b>Visualize data within minutes.</b> After registration you can start creating interactive visualizations from existing data sources. 
              Once your visualization shows interesting facts, you&#39;re one click away from publishing it, and share the link with other people. It&#39;s as easy as that!
            </p><p>
              But don&#39;t take our word for it. Here&#39;s an <a href="#michael/countries/1"><b>example project</b></a>, showing indicators for the world&#39;s countries.
            </p>
          </div>
          <div class="feature">
            <a href="http://substance.io/#dejavis/dejavis"><img src="/images/contribute.png"/></a>
            
            <h2><a href="http://substance.io/#dejavis/dejavis">Contribute</a></h2>
            <p>
              <b>Contribute and make sense of your own data.</b> Déjàvis can handle arbitrary datasets, as long as they&#39;re provided in a special <code>Data.Collection</code> format.
              You can think of a Collection as a table of data, except it provides precise information about the contained data (meta-data). 
              At this early stage we need you to get in touch with us. We&#39;ll make available your datasource shortly.
            </p>
          </div>
        </div>
      </div>
    </script>
    
    <script type="text/x-ejs-template" name="signup">
      <div id="signup" class="page-content">
        <h1>Create Account</h1>
        <form id="signup-form" class="auth-form">
          <div>
            <label for="signup_user">Username:<span>/#USERNAME (No special characters)</span></label>
            <input type="text" id="signup_user" name="username"/>
            <div class="input-message" id="signup_user_message"></div>
          </div>

          <div>
            <label for="signup_name">Full Name:<span>Your real name</span></label>
            <input type="text" id="signup_name" name="name"/>
          </div>

          <div>
            <label for="signup_email">Email:<span>A valid email address</span></label>
            <input type="text" id="signup_email" name="email"/>
          </div>

          <div>
            <label for="signup_password">Password:<span>At least 3 characters</span></label>
            <input type="password" id="signup_password" name="password"/>
          </div>

          <div id="registration_error_message"></div>
          <br/>
          <div>

            <label for="">&nbsp;</label>
            <input type="submit" value="Create Account"/>
          </div>
        </form>
      </div>
    </script>
    
    <script type="text/x-ejs-template" name="user_settings">
      <div id="user_settings" class="page-content">

        <form id="user_settings_form">
          <h1>Account Settings</h1>
          <br/><h2>Public Profile</h2>
          <div>
            <label for="user_username">Username:<span>Cannot be changed</span></label>
            <%= user.get('username') %>
            <input type="hidden" id="user_username" name="user_username" value="<%= user.get('username') %>"/>
          </div>

          <div>
            <label for="user_name">Name:<span>Your full name</span></label>
            <input type="text" id="user_name" name="user_name" value="<%= user.get('name') %>"/>
          </div>

          <div>
            <label for="user_email">Email:<span>Publicly visible</span></label>
            <input type="text" id="user_email" name="user_email" value="<%= user.get('email') %>"/>
          </div>

          <div>
            <label for="user_website">Website:<span>http://your-website.com</span></label>
            <input type="text" id="user_website" name="user_website" value="<%= user.get('website') %>"/>
          </div>

          <div>
            <label for="user_company">Company:<span>Or organization</span></label>
            <input type="text" id="user_company" name="user_company" value="<%= user.get('company') %>"/>
          </div>

          <div>
            <label for="user_location">Location:<span>City, Country</span></label>
            <input type="text" id="user_location" name="user_location" value="<%= user.get('location') %>"/>
          </div>
          <br/><br/>
          <h2>Change password</h2>

          <div>
            <label for="user_password">Password:<span>Choose a new password or leave blank</span></label>
            <input type="password" id="user_password" name="user_password"/>
          </div>

          <div>
            <label for="user_password_confirmation">Password Confirmation:<span>Confirm new password</span></label>
            <input type="password" id="user_password_confirmation" name="user_password_confirmation"/>
          </div>

          <div>
            <label for="">&nbsp;</label>
            <input type="submit" id="document_name" value="Update Information"/>
          </div>
        </form>
      </div>
    </script>
    
    <script type="text/x-ejs-template" name="new_project">
      <div id="new_project" class="page-content">
        <h1>New Project</h1>
        <form id="create_project">
          <div>
            <label for="new_project_name">Project Name:<span>/#<%= app.username %>/PROJECT_NAME</span></label>
            <input type="text" id="new_project_name" name="new_project_name"/>
            <br class="clear"/>
            <div class="input-message" id="new_project_name_message"></div>
          </div>
          
          <div>
            <label for="new_project_title">Title:<span>Project title</span></label>
            <input type="text" id="Project title" name="new_project_title"/>
            <br class="clear"/>
          </div>
          
          <div>
            <label for="datasource">Datasource:<span>Choose a data source</span></label>
            <select id="datasource" name="datasource">
            </select>
            <div class="input-messages"></div>
          </div>
          
          <div>
            <label for="">&nbsp;</label>
            <input type="submit" value="Create Project"/>
          </div>
        </form>
      </div>
    </script>
    
    <script type="text/x-ejs-template" name="new_sheet">
      <div id="new_sheet" class="page-content">
        <h1>New Sheet</h1>
        <form id="create_sheet">
          <div>
            <label for="new_sheet_name">Sheet Name:<span>Keep it short</span></label>
            <input type="text" id="new_sheet_name" name="new_sheet_name"/>
            <br class="clear"/>
            <div class="input-message" id="new_sheet_name"></div>
          </div>
          
          <div>
            <label for="datasource">Datasource:<span>Choose a data source</span></label>
            <select id="datasource" name="datasource">
            </select>
            <div class="input-messages"></div>
          </div>
          
          <div>
            <label for="">&nbsp;</label>
            <input type="submit" value="Create Sheet"/>
          </div>
        </form>
      </div>
    </script>
    
    <script type="text/x-handlebars-template" name="browser_not_supported">
      <div class="browser-not-supported">
        <h1>Dejavis.org
          <p>Visual Analytics in the Browser</p>
        </h1>
        <div></div>
        <div class="lpl texteditor">
          <h2>Browser not supported</h2>
          <p>
            Dejavis makes use of the latest browser technology. In order to create, publish<br/> and view visualizations online,
            you need to upgrade your browser.
          </p>
          <p class="recommendation">We recommend one of these:</p>
          <div style="text-align: center;">
            <a href="http://www.google.com/chrome/" title="Google Chrome"><img src="/images/chrome.png"/></a>
            <a href="http://www.apple.com/safari/" title="Apple Safari"><img src="/images/safari.png"/></a>
            <a href="http://www.mozilla.com/en-US/firefox/beta/" title="Firefox 4 Beta"><img src="/images/firefox.png"/></a>
          </div>
        </div>
      </div>
    </script>
    
    <script type="text/x-ejs-template" name="sheet">
      <div id="facets">
        <h2>Filters</h2>
        <div class="item-count"><%= filtered_collection.items().length %> / <%= collection.items().length %> data items</div>
        <div class="list">
          <% facets.each(function(facet) { %>
            <div class="facet" operator="|=" property="<%= facet.property.key %>">
              <h3><%= facet.property.name %></h3>
              <ul class="facet-choices">
                <% facet.selected_choices.each(function(choice) { %>
                  <li class="facet-choice selected">
                    <a href="#" class="remove-choice" property="<%= facet.property.key %>" operator="|=" value="<%= choice._id %>">
                      <div class="tick-icon"></div>
                      <%= choice.name %>
                      <span class="item-count"><%= choice.count %></span>
                    </a>
                  </li>
                <% }); %>
              </ul>
              <ul class="facet-choices-available">
                <% facet.choices.each(function(choice) { %>
                  <li class="facet-choice">
                    <a href="#" class="add-choice" property="<%= facet.property.key %>" operator="|=" value="<%= choice._id %>">
                      <div class="tick-icon ticked"></div>
                      <%= choice.name %>
                      <span class="item-count"><%= choice.count %></span>
                    </a>
                  </li>
                <% }); %>
              </ul>
            </div>
          <% }); %>
        </div>
      </div>
      
      <div id="settings">
        <div id="group">
          <h2>Group by</h2>

          <select id="group_key">
            <% group_keys.each(function(p) { %>
              <option value="<%= p.key %>"<% if (group_key && group_key[0] === p.key) {%> selected="selected"<% } %>>
                <%= p.name %> (<%= p.all('values').length %>)
              </option>
            <% }); %>
          </select>
        </div>
        
        <div id="properties">
          <h2>Properties</h2>
          <div id="selected_properties">
            <% _.each(properties, function(p, i) { %>
              <div style="background: <%= propertyColors(p.property) %>" class="property<%= p.selected ? ' deselect' : ' select' %>" index="<%= i %>" property="<%= p.property %>">
                <% var prop = grouped_items.properties().get(p.property); %>
                <% if (prop) { %>
                  <div class="min"><div class="line"></div><%= _.format(prop.aggregate(Data.Aggregators.MIN)) %></div>
                  <div class="max"><div class="line"></div><%= _.format(prop.aggregate(Data.Aggregators.MAX)) %></div>
                <% } %>
                <a href="#">
                  <span><%= p.name %></span>
                </a>
                <select class="aggregator" name="aggregator">
                  <option value="SUM"<%= p.aggregator == "SUM" ? " selected" : "" %>>SUM</option>
                  <option value="AVG"<%= p.aggregator == "AVG" ? " selected" : "" %>>AVG</option>
                  <option value="MIN"<%= p.aggregator == "MIN" ? " selected" : "" %>>MIN</option>
                  <option value="MAX"<%= p.aggregator == "MAX" ? " selected" : "" %>>MAX</option>
                  <option value="COUNT"<%= p.aggregator == "COUNT" ? " selected" : "" %>>CNT</option>
                </select>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
      
      <!--<div id="sheet_name"><h2><%= sheet.get('name') %></h2></div>-->
      <div id="sheet_editor_controls"></div>
      <div id="sheet_description" title="Click to edit" class="<%= !sheet.get('descr') || sheet.get('descr') === '' ? "empty" : "" %>">
        <% if (!sheet.get('descr') || sheet.get('descr') === '') { %>
          &laquo; Enter Sheet Description &raquo;
        <% } else { %>
          <%= sheet.get('descr') %>
        <% } %>
      </div>
      
      <div id="visualization">
        <div id="canvas">
        
        </div>
      </div>
    </script>
    
    <script type="text/x-ejs-template" name="project">
      <div id="project">
        <div id="project_header">
          <h2 id="project_title" title="Click to edit"><%= project.get('title') %></h2>
          <% if (project.get('published_on')) { %>
            <p>Published: <%= _.prettyDate(project.get('published_on')) %>
            <% if (app.project.mode == 'edit') { %> — <a href="#" class="unpublish-project" title="Publish Project">Unpublish</a><% } %></p>
          <% } else { %>
            <p>Published: Not yet
            <% if (app.project.mode == 'edit') { %> — <a href="#" class="publish-project" title="Publish Project">Publish</a><% } %>
          <% } %>
          <div class="project-actions">
            <% if (app.project.mode == 'edit') { %><a href="#" class="delete-project" title="Delete Project">Delete</a><% } %>
          </div>
        </div>
        
        <div id="sheets">
          <div class="sheet-tabs">
            <% project.get('sheets').each(function(sheet, key, index) { %>
              <% if (sheet === activeSheet) { %>
                <div id="active_sheet_tab" title="Click to edit sheet name" sheet="<%= sheet._id %>" class="sheet selected"><%= sheet.get('name') %></div>
              <% } else { %>
                <div sheet="<%= sheet._id %>" class="sheet">
                  <a class="switch-sheet" href="#<%= project.get('creator')._id.split('/')[2]+"/"+project.get('name')+"/"+(index+1) %>"><%= sheet.get('name') %></a>
                  <% if (app.project.mode == 'edit') { %><a class="delete-sheet" href="#">x</a><% } %>
                </div>
              <% } %>
            <% }); %>
            <% if (app.project.mode == 'edit') { %><div class="new-sheet"><a href="#new-sheet">+</a></div><% } %>
          </div>
        </div>
      </div>
      
      <div id="sheet">
        <div id="sheet_header">
          <h2>Loading sheet...</h2>
          <p>Depending on the amount of data this may take a while.<br/><br/></p>
        </div>
      </div>
    </script>
    
    <!-- Libs -->
    <script type="text/javascript" src="/javascripts/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/javascripts/backbone.js"></script>
    <script type="text/javascript" src="/javascripts/data.js"></script>
    <script type="text/javascript" src="/javascripts/ajax_adapter.js"></script>
    <script type="text/javascript" src="/javascripts/d3.js"></script>
    <script type="text/javascript" src="/javascripts/proper.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="/javascripts/head.min.js"></script>
    
    <!-- Helpers -->
    <script type="text/javascript" src="/javascripts/notifier.js"></script>
    <script type="text/javascript" src="/javascripts/helpers.js"></script>
    
    <!-- Visualization -->
    <script type="text/javascript" src="/javascripts/barchart.js"></script>
    
    <!-- Controllers -->
    <script type="text/javascript" src="/javascripts/controllers/application.js"></script>
    
    <!-- Views -->
    <script type="text/javascript" src="/javascripts/views/header.js"></script>
    <script type="text/javascript" src="/javascripts/views/project.js"></script>
    <script type="text/javascript" src="/javascripts/views/browser_tab.js"></script>
    <script type="text/javascript" src="/javascripts/views/new_project.js"></script>
    <script type="text/javascript" src="/javascripts/views/new_sheet.js"></script>
    <script type="text/javascript" src="/javascripts/views/signup.js"></script>
    <script type="text/javascript" src="/javascripts/views/user_settings.js"></script>
    <script type="text/javascript" src="/javascripts/views/browser.js"></script>
    <script type="text/javascript" src="/javascripts/views/sheet.js"></script>
    
    <!-- App -->
    <script type="text/javascript" src="/javascripts/app.js"></script>
    
    <style type="text/css">
      @import url("/stylesheets/reset.css");
      @import url("/stylesheets/style.css");
    </style>
  </head>
  <body>
    
    <div id="container">
      <div id="header">

      </div>

      <div id="tabs">
        <div id="browser_tab" class="tab" view="browser">
          
        </div>

        <div id="project_tab" class="tab hidden" view="project">
        </div>

        <a href="#" class="action new-project" title="Create a new project">
          <div class="view-action-icon new"></div>
        </a>
      </div>

      <div id="main">
        <!-- Various content (used for user settings dialogue etc.) -->  
        <div id="content_wrapper" class="view">
          
        </div>

        <!-- The project browser -->
        <div id="browser_wrapper" class="view hidden">
        </div>

        <!-- The project view -->
        <div id="project_wrapper" class="view hidden">
          
        </div>
      </div>
      <div id="footer">
        <div class="credits"><a href="http://substance.io#dejavis/dejavis">About</a> &middot; <a href="http://twitter.com/_dejavis" target="_new">Twitter</a> &middot; <a href="http://github.com/michael/dejavis" target="_new">Source Code</a> &middot; <a href="http://github.com/michael/dejavis/issues" target="_new">Report Bugs</a></div>
        <div class="version">Dejavis 0.1.0-dev</div>
      </div>
    </div>
    
    <div id="notifications">
      <div class="wrapper">
      </div>
    </div>

    <div class="tooltip">

    </div>
  </body> 
</html>